@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 > Admin Page</h1>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Universities", "Index", "Universities")</li>
        <li>@Html.ActionLink("Programs", "Index", "Programs")</li>
        <li>@Html.ActionLink("Un_prog_course", "Index", "Un_prog_course")</li>
        <li>@Html.ActionLink("Course_codes_edcc", "Index", "Course_codes_edcc")</li>
       
    </ul>
  
</div>