@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>  Advising for Student Success</h1>
  
   
    <p class="lead"> Academic Advising educates students as they navigate the world of higher education; providing support for articulation and achievement of their 
    educational and career goals, and by creating an environment for personal transformation, lifelong learning, and success.</p>
    <p><a href="http://students.edcc.edu/advising/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>An Advisor Can Help You:</h2>
        <p>
            <ul>
                <li>understand course requirements,</li>
                <li>navigate the campus and connect to resources,</li>
                <li>explore career training programs,</li>
                <li>learn about transferring to a 4-year college or university,</li>
                <li>determine how to finish your degree,</li>
                <li>
                    understand the <a href="http://www.edcc.edu/credentials/process.html">graduation process</a>.
                </li>
            </ul>
        </p>
        <p><a class="btn btn-default" href="http://students.edcc.edu/advising/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Be Prepared to Speak With an Advisor</h2>
        <p>Your advisor (academic or faculty) will have the opportunity to give you more valuable
         information if you come prepared.</p>
        <p><a class="btn btn-default" href="http://students.edcc.edu/advising/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How to get advising</h2>
        <p>There are many advising opportunities available. From admission to graduation students are encouraged to meet with an advisor every quarter.</p>
        <p><a class="btn btn-default" href="http://students.edcc.edu/advising/">Learn more &raquo;</a></p>
    </div>
</div>